<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>Jamaican Q&A</title>
        <link rel="stylesheet" type="text/css" href="/static/main.css">
        <link rel="stylesheet" type="text/css" href="/static/list.css">
    </head>
    <body>
        <main class="list-main-div">
            <nav class="navbar">
                <div class="navbar-left-side">
                    <div class="home-button-container">
                        <a href="/">
                        <button button name="home-button" id="home-button"><img src="/static/resources/images/logo.png" alt="home-icon"></button>
                        </a>
                    </div>
                    <h1 class="main-title">Jamaican <span style="color: seagreen">Q</span>&<span style="color: goldenrod">A</span></h1>
                </div>
                <div class="navbar-right-side">
                    {% if username %}
                        <p>You are logged in as: <b>{{username}}</b></p>
                    <a class="logout-button" href="/logout"><button class="button">Log out</button></a>
                    {% else %}
                        <a href="/login"><button class="button">Log in</button></a>
                        <a href="/registration"><button class="button">Register</button></a>
                    {% endif %}
                </div>
            </nav>
            <section class="page-body">
                <h1>Submit your Comment here</h1>
                <form action="/{{ 'question/' + question_id if question_id else 'answer/' + answer_id }}/new-comment" method="POST">
                    <textarea id="description-input" name="description" rows="6" cols="80" class="description-input" placeholder="Write your comment here"></textarea>

                    <!-- Let's allow the user to submit the form. -->
                    <br><button type="submit" class="button" id="sort_button">Submit Comment!</button>
                </form>
            </section>
        </main>
    </body>
</html>