<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>Jamaican Q&A</title>
        <link rel="stylesheet" type="text/css" href="/static/main.css">
        <link rel="stylesheet" type="text/css" href="/static/add-question.css">
    </head>
    <body>
        <main class="list-main-div">
            <nav class="navbar">
                <div class="navbar-left-side">
                    <div class="home-button-container">
                        <a href="/">
                        <button button name="home-button" id="home-button"><img src="/static/resources/images/logo.png" alt="home-icon"></button>
                        </a>
                    </div>
                    <h1 class="main-title">Jamaican <span style="color: seagreen">Q</span>&<span style="color: goldenrod">A</span></h1>
                </div>
                <div class="navbar-right-side">
                    {% if username %}
                        <p>You are logged in as: <a class="profile-link" href="/user-list/{{ username }}"><b>{{username}}</b></a></p>
                    <a class="logout-button" href="/logout"><button class="button">Log out</button></a>
                    {% else %}
                        <a href="/login"><button class="button">Log in</button></a>
                        <a href="/registration"><button class="button">Register</button></a>
                    {% endif %}
                </div>
            </nav>
            <section class="body">
                <h1>Submit your Answer here</h1>
                <div class="input-container">
                    <form action="/question/{{ question_id }}/new-answer" enctype="multipart/form-data" method="POST">
                        <div class="description-container">
                            <textarea id="description-input" name="description" value="description" rows="4" cols="60" class="description-input" placeholder="Answer:" required></textarea>
                        </div>
                        <!-- Let's allow the user to submit the form. -->
                        <div class="file-upload-container">
                            <svg width="24" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 128 128" style="enable-background:new 0 0 128 128" xml:space="preserve"><path style="fill:#303030" d="M128 63.954c0 2.006-.797 3.821-2.136 5.127-1.308 1.337-3.125 2.133-5.166 2.133H71.302v49.356c0 4.012-3.284 7.292-7.302 7.292-2.009 0-3.827-.828-5.166-2.134-1.308-1.337-2.136-3.152-2.136-5.159V71.214H7.302c-4.05 0-7.302-3.248-7.302-7.26 0-2.006.797-3.853 2.136-5.159a7.279 7.279 0 0 1 5.166-2.134h49.395V7.306c0-4.012 3.284-7.26 7.302-7.26 2.009 0 3.827.828 5.166 2.133a7.238 7.238 0 0 1 2.136 5.127v49.356h49.395A7.276 7.276 0 0 1 128 63.954z"/></svg>
                            <input type="file" name="img" accept="image/*" class="file-upload">
                        </div>
                        <br><button type="submit" class="button" id="sort_button">Submit Answer!</button>
                    </form>
                </div>
            </section>
        </main>
    </body>
</html>