<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>Jamaican Q&A</title>
        <link rel="stylesheet" type="text/css" href="/static/main.css">
        <link rel="stylesheet" type="text/css" href="/static/list.css">
        <link rel="stylesheet" type="text/css" href="/static/bonus-questions.css">
    </head>
    <body class="html-body">
        <main class="list-main-div">
            <nav class="navbar">
                <div class="navbar-left-side">
                    <div class="home-button-container">
                        <a href="/">
                        <button button name="home-button" id="home-button"><img src="/static/resources/images/logo.png" alt="home-icon"></button>
                        </a>
                    </div>
                    <h1 class="main-title">Jamaican <span style="color: seagreen">Q</span>&<span style="color: goldenrod">A</span></h1>
                </div>
                <div class="navbar-right-side">
                    {% if username %}
                        <p>You are logged in as: <a class="profile-link" href="/user-list/{{ username }}"><b>{{username}}</b></a></p>
                    <a class="logout-button" href="/logout"><button class="button">Log out</button></a>
                    {% else %}
                        <a href="/login"><button class="button">Log in</button></a>
                        <a href="/registration"><button class="button">Register</button></a>
                    {% endif %}
                </div>
            </nav>
            <section class="page-body">
            <div class="search-bar-container">
                <input id="filter_text" placeholder="Filter in questions" name="filter" class="search-input">
                <button id="filter_button" class="search-button">Filter</button>
                <button id="font_size_up" class="change-font-size-button">Increase font size</button>
                <button id="font_size_down" class="change-font-size-button">Decrease font size</button>
            </div>
            <br>
            <div id="questions_div">
                <script>
                    let bonus_questions = JSON.parse('{{ questions | tojson}}');
                </script>
                <script type="text/javascript" src="static/js/bonus_questions.js"></script>
            </div>
        </main>
    </body>
</html>