<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>Jamaican Q&A</title>
        <link rel="stylesheet" type="text/css" href="/static/main.css">
        <link rel="stylesheet" type="text/css" href="/static/list.css">
        <link rel="stylesheet" type="text/css" href="/static/bonus-questions.css">
    </head>
    <body class="html-body">
        <main class="list-main-div">
            <nav class="navbar">
                <div class="home-button-container">
                    <a href="/">
                    <button name="home-button" id="home-button"><img src="/static/resources/images/logo.png" alt="home-icon"></button>
                    </a>
                </div>
                <h1 class="main-title">Jamaican <span style="color: seagreen">Q</span>&<span style="color: goldenrod">A</span></h1>
            </nav>
            <section class="page-body">
            <div class="search-bar-container">
                <input id="filter_text" placeholder="Filter in questions" name="filter" class="search-input">
                <button id="filter_button" class="search-button">Filter</button>
            </div>
            <br>
            <div id="questions_div">
                <script>
                    let bonus_questions = JSON.parse('{{ questions | tojson}}');
                </script>
                <script type="text/javascript" src="static/js/bonus_questions.js"></script>
            </div>
        </main>
    </body>
</html>