<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>Jamaican Q&A</title>
        <link rel="stylesheet" type="text/css" href="/static/main.css">
    </head>
    <body>
        <main class="list-main-div">
            <nav class="navbar">
                <div class="navbar-left-side">
                    <div class="home-button-container">
                        <a href="/">
                        <button button name="home-button" id="home-button"><img src="/static/resources/images/logo.png" alt="home-icon"></button>
                        </a>
                    </div>
                    <h1 class="main-title">Jamaican <span style="color: seagreen">Q</span>&<span style="color: goldenrod">A</span></h1>
                </div>
                <div class="navbar-right-side">
                    {% if username %}
                        <p>You are logged in as: <a class="profile-link" href="/user-list/{{ username }}"><b>{{username}}</b></a></p>
                    <a class="logout-button" href="/logout"><button class="button">Log out</button></a>
                    {% else %}
                        <a href="/login"><button class="button">Log in</button></a>
                        <a href="/registration"><button class="button">Register</button></a>
                    {% endif %}
                </div>
            </nav>
            <section class="page-body">
                <h1>Submit your Answer here</h1>
                <form action="/answer/{{ answer_for_edit['id'] }}/edit" method="POST">
                    <textarea id="description-input" name="message" rows="4" cols="60" class="description-input" placeholder="Answer:">{{ answer_for_edit["message"] }}</textarea>

                    <br><button type="submit" class="button" id="sort_button">Submit Answer!</button>
                </form>
            </section>
        </main>
    </body>
</html>