<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>Jamaican Q&A</title>
        <link rel="stylesheet" type="text/css" href="/static/main.css">
        <link rel="stylesheet" type="text/css" href="/static/list.css">
        <link rel="stylesheet" type="text/css" href="/static/authentication.css">
    </head>
    <body class="html-body">
        <main class="list-main-div">
            <nav class="navbar">
                <div class="navbar-left-side">
                    <div class="home-button-container">
                        <a href="/">
                        <button button name="home-button" id="home-button"><img src="/static/resources/images/logo.png" alt="home-icon"></button>
                        </a>
                    </div>
                    <h1 class="main-title">Jamaican <span style="color: seagreen">Q</span>&<span style="color: goldenrod">A</span></h1>
                </div>
                <div class="navbar-right-side">
                    {% if username %}
                        <p>You are logged in as: <a class="profile-link" href="/user-list/{{ username }}"><b>{{username}}</b></a></p>
                    <a class="logout-button" href="/logout"><button class="button">Log out</button></a>
                    {% else %}
                        <a href="/login"><button class="button">Log in</button></a>
                        <a href="/registration"><button class="button">Register</button></a>
                    {% endif %}
                </div>
            </nav>
        <form action="/login", method="post" class="login-form">
            <h1>Log in</h1>
            <div class="login-input-container">
                <input class="login-input" type="text" name="username" placeholder="Username">
                <input class="login-input" type="password" name="password" placeholder="Password">
            <div class="login-button-container">
                <a href="/registration">Need an account?</a>
                <button class="login-button" type="submit">Login</button>
            </div>
            </div>
        </form>
            <section class="register">
            </section>
    </main>
    </body>
</html>